# Java build
/build/
!/src/main/**/static/       # 정적 리소스는 제외하지 않도록 예외처리
/out/
target/


# Gradle Wrapper logs
gradle-app.setting

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code (if used)
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Test reports
/test-output/
build/reports/
jacoco.exec

# Local DB or SQLite
*.db
*.h2.db

# Temporary files
*.swp
*.tmp
*.bak

# Dependency cache
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# npm/yarn (if using frontend)
node_modules/
dist/

# GitHub linguist ignore
*.html linguist-vendored
/static/** linguist-vendored
/build/** linguist-vendored

.env


nginx/nginx.conf
./gradle
./bin

/loki/